services:
  - type: web
    name: twitch-chatbot-corujita
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
